<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d][%t] %p %m (%c)%n"/>
        </Console>
        <File name="publicAccessAppender" fileName="logs/publicAccessLog.out" append="true">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <!-- DEBUG: replication and HTTP/2 client lifecycle. Goal is to capture
             where Http2NetworkClientFactory.close() and routers' HTTP/2 clients
             interleave in RouterServerSSLTest.interleavedOperationsTest, which
             started failing with RouterClosed after the factory close was added. -->
        <Root level="info">
            <AppenderRef ref="consoleAppender"/>
        </Root>

        <Logger name="PublicAccessLogger" level="info" additivity="false">
            <AppenderRef ref="publicAccessAppender"/>
        </Logger>

        <Logger name="org.apache.helix" level="warn" />
        <Logger name="org.apache.zookeeper" level="warn" />

        <Logger name="com.github.ambry.network.http2" level="debug" />
        <Logger name="com.github.ambry.replication" level="debug" />
        <Logger name="com.github.ambry.server.AmbryServer" level="debug" />

        <!-- previously off; re-enabled at warn (not the loud debug they were at) -->
        <Logger name="com.github.ambry.network.BlockingChannelConnectionPool" level="warn" />
        <Logger name="com.github.ambry.network.BlockingChannelInfo" level="warn" />
        <Logger name="com.github.ambry.replication.ReplicThread" level="info" />
    </Loggers>
</Configuration>
