# Starter workflow to use github-actions ci. This checks out repository, builds and runs unit tests.
# Reference: https://docs.github.com/en/actions/guides/building-and-testing-java-with-gradle

name: Github Actions CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ '**' ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  unit-test:

    runs-on: ubuntu-latest
    steps:
      - name: Checkout Ambry
        uses: actions/checkout@v2
        # Full fetch depth is used to fetch all existing tags in the repo to assign a version for this build
        with:
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Set up MySQL
        run: |
          sudo systemctl start mysql.service
          mysql -e 'CREATE DATABASE AmbryRepairRequests;' -uroot -proot
          mysql -e 'USE AmbryRepairRequests; SOURCE ./ambry-mysql/src/main/resources/AmbryRepairRequests.ddl;' -uroot -proot

      - name: Add custom MySQL user
        # Temporary settings to use same username and password as travis ci
        run: |
          mysql -e 'CREATE USER 'travis'@'localhost';' -uroot -proot
          mysql -e 'GRANT ALL PRIVILEGES ON * . * TO 'travis'@'localhost';' -uroot -proot
          mysql -e 'FLUSH PRIVILEGES;' -uroot -proot

      - name: Install and run Azurite
        run: |
          killall azurite || true
          npm install -g azurite
          azurite --silent &

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Run unit tests excluding ambry-store
        run: ./gradlew --scan -x :ambry-store:test build codeCoverageReport

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        timeout-minutes: 2

  store-test:

    runs-on: ubuntu-latest
    steps:
      - name: Checkout Ambry
        uses: actions/checkout@v2
        # Full fetch depth is used to fetch all existing tags in the repo to assign a version for this build
        with:
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Run unit tests for ambry-store
        run: ./gradlew --scan :ambry-store:test codeCoverageReport

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        timeout-minutes: 2

  int-test:

    runs-on: ubuntu-latest
    steps:
      - name: Checkout Ambry
        uses: actions/checkout@v2
        # Full fetch depth is used to fetch all existing tags in the repo to assign a version for this build
        with:
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Set up MySQL
        run: |
          sudo systemctl start mysql.service
          mysql -e 'CREATE DATABASE AccountMetadata;' -uroot -proot
          mysql -e 'USE AccountMetadata; SOURCE ./ambry-account/src/main/resources/AccountSchema.ddl;' -uroot -proot
          mysql -e 'CREATE DATABASE ambry_container_storage_stats;' -uroot -proot
          mysql -e 'USE ambry_container_storage_stats; SOURCE ./ambry-mysql/src/main/resources/AmbryContainerStorageStats.ddl;' -uroot -proot
          mysql -e 'CREATE DATABASE AmbryNamedBlobs;' -uroot -proot
          mysql -e 'USE AmbryNamedBlobs; SOURCE ./ambry-named-mysql/src/main/resources/NamedBlobsSchema.ddl;' -uroot -proot
          mysql -e 'CREATE DATABASE AmbryRepairRequests;' -uroot -proot
          mysql -e 'USE AmbryRepairRequests; SOURCE ./ambry-mysql/src/main/resources/AmbryRepairRequests.ddl;' -uroot -proot

      - name: Add custom MySQL user
        # Temporary settings to use same username and password as travis ci
        run: |
          mysql -e 'CREATE USER 'travis'@'localhost';' -uroot -proot
          mysql -e 'GRANT ALL PRIVILEGES ON * . * TO 'travis'@'localhost';' -uroot -proot
          mysql -e 'FLUSH PRIVILEGES;' -uroot -proot

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Run integration tests excluding server integration test
        run: ./gradlew --scan intTest -x :ambry-server:intTest codeCoverageReport

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        timeout-minutes: 2

  server-int-test:

    runs-on: ubuntu-latest
    steps:
      - name: Checkout Ambry
        uses: actions/checkout@v2
        # Full fetch depth is used to fetch all existing tags in the repo to assign a version for this build
        with:
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Set up MySQL
        run: |
          sudo systemctl start mysql.service
          mysql -e 'CREATE DATABASE AccountMetadata;' -uroot -proot
          mysql -e 'USE AccountMetadata; SOURCE ./ambry-account/src/main/resources/AccountSchema.ddl;' -uroot -proot
          mysql -e 'CREATE DATABASE ambry_container_storage_stats;' -uroot -proot
          mysql -e 'USE ambry_container_storage_stats; SOURCE ./ambry-mysql/src/main/resources/AmbryContainerStorageStats.ddl;' -uroot -proot
          mysql -e 'CREATE DATABASE AmbryNamedBlobs;' -uroot -proot
          mysql -e 'USE AmbryNamedBlobs; SOURCE ./ambry-named-mysql/src/main/resources/NamedBlobsSchema.ddl;' -uroot -proot
          mysql -e 'CREATE DATABASE AmbryRepairRequests;' -uroot -proot
          mysql -e 'USE AmbryRepairRequests; SOURCE ./ambry-mysql/src/main/resources/AmbryRepairRequests.ddl;' -uroot -proot

      - name: Add custom MySQL user
        # Temporary settings to use same username and password as travis ci
        run: |
          mysql -e 'CREATE USER 'travis'@'localhost';' -uroot -proot
          mysql -e 'GRANT ALL PRIVILEGES ON * . * TO 'travis'@'localhost';' -uroot -proot
          mysql -e 'FLUSH PRIVILEGES;' -uroot -proot

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Run integration tests
        run: ./gradlew --scan :ambry-server:intTest codeCoverageReport

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        timeout-minutes: 2

  publish:

    runs-on: ubuntu-latest
    needs: [ unit-test, store-test, int-test, server-int-test ]
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
    env:
      ARTIFACTORY_USER: ${{ secrets.ARTIFACTORY_USER }}
      ARTIFACTORY_API_KEY: ${{ secrets.ARTIFACTORY_API_KEY }}
    steps:
      - name: Checkout Ambry
        uses: actions/checkout@v2
        # Full fetch depth is used to fetch all existing tags in the repo to assign a version for this build
        with:
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build artifacts and create pom files
        run: ./gradlew --scan assemble publishToMavenLocal

      - name: Test publication by uploading in dry run mode
        run: ./gradlew -i --scan artifactoryPublishAll -Partifactory.dryRun

      - name: Tag and upload to JFrog Artifactory
        run: ./gradlew -i --scan ciPerformRelease
